extends layout

block content
    .container.mainContainer.post-detail-page
        .panel.panel-default
            .panel-heading
                h3 #{post.title}
                h6 由 #{post.userId.userName != undefined? post.userId.userName:''} #{post.userId.email} 发布
            .list-group
                a.list-group-item(href='#')
                    p #{post.detail}
                    p.text-right
                        | #{post.created}
            .panel-heading
                h3 评论区
            .list-group
                a.list-group-item(href='#')
                    h5 from张三
                    p 嘿嘿，在我这
                    p.text-right
                        | 2016-07-03 11:33
                .list-group-item
                    form(action='#', role='form')
                        h4 说点什么吧
                        .form-group
                            textarea.form-control(path='content', placeholder='请输入评论', rows='6')
                        input.btn.btn-primary(type='submit', value='发表评论')
