
extends layout

block content
    .container.mainContainer.post-detail-page
        .panel.panel-default
            .panel-heading
                h3 #{post.title}
                h6 由 #{post.userId.userName != undefined? post.userId.userName:''} #{post.userId.email} 发布
            .list-group
                a.list-group-item(href='#')
                    p #{post.detail}
                    p.text-right
                        | #{post.created}
            .panel-heading
                h3 评论区
            .list-group#comment-wrap
                each comment in post.comment
                    a.list-group-item(href='#')
                        h5 from #{comment.userId != null ? (comment.userId.userName != undefined? comment.userId.userName + ' ' + comment.userId.email:comment.userId.email) : ''}
                        p #{comment.content}
                        p.text-right
                            | #{comment.created}
                .list-group-item#comment-bottom
                    form(action='#', role='form')
                        h4 说点什么吧
                        .form-group
                            textarea.form-control#comment-area(path='content', placeholder='请输入评论', rows='6')
                        input#submit-post-id(type='hidden', value='#{post._id}')
                        input.btn.btn-primary#submit-comment(type='button', value='发表评论')
